<div class='jumbotron'>
	<h1> Your Favorite Movies Reviewed</h1>
	<p>
		Have you ever been to a movie and realized that it was so bad that you kick yourself for not reading the reviews? Kick yourself, no more. 
	</p>
	<p>
		<%= link_to 'Signup To Write a Review', root_path, class: 'btn btn-primary btn-lg' %>
	</p>
</div>

<div class="row">

<%= render @movies %>

</div>
